header {
    text-align: center;
}

main img {
    width: 40px;
    vertical-align: middle;
}

.owned-item-count {
    display: inline-block;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 4px;
    margin-right: 4px;
    font-weight: bold;
    padding-right: 10px;
    font-size: 19px;
}
