table td {
    width: 58px;
    height: 58px;
    border: 1px solid black;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

table img {
    width: 40px;
    vertical-align: middle;
}